<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.satsumasoftware.pokedex"
    android:installLocation="auto">

    <!-- Include required permissions for Google Mobile Ads to run -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- This meta-data tag is required to use Google Play Services. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".ui.startup.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.startup.InitializeDbActivity"
            android:label="@string/title_activity_initialise"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.startup.WelcomeActivity"
            android:label="@string/title_activity_welcome" />
        <activity
            android:name=".ui.PokedexActivity"
            android:label="@string/title_activity_pokedex"
            android:theme="@style/AppTheme.NavDrawer">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchResultsActivity" />
        </activity>
        <activity
            android:name=".ui.AbilitiesActivity"
            android:label="@string/title_activity_abilities"
            android:theme="@style/AppTheme.AbilityDex.NavDrawer" />
        <activity
            android:name=".ui.MovesActivity"
            android:label="@string/title_activity_moves"
            android:theme="@style/AppTheme.MoveDex.NavDrawer" />
        <activity
            android:name=".ui.NaturesActivity"
            android:label="@string/title_activity_natures"
            android:theme="@style/AppTheme.NatureDex.NavDrawer" />
        <activity
            android:name=".ui.LocationsActivity"
            android:label="@string/title_activity_locations"
            android:theme="@style/AppTheme.LocationDex.NavDrawer" />
        <activity
            android:name=".ui.FavoritesActivity"
            android:label="@string/title_activity_favorites"
            android:theme="@style/AppTheme.Favourites.NavDrawer" />
        <activity
            android:name=".ui.ExperienceCalculatorActivity"
            android:label="@string/title_activity_experience_calculator"
            android:theme="@style/AppTheme.Tools.NavDrawer" />
        <activity
            android:name=".ui.DetailActivity"
            android:label="@string/title_activity_pokemon_detail"
            android:parentActivityName=".ui.PokedexActivity"
            android:theme="@style/AppTheme.Detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.satsumasoftware.pokedex.ui.PokedexActivity" />
        </activity>
        <activity
            android:name=".ui.CompareActivity"
            android:label="@string/title_activity_compare"
            android:theme="@style/AppTheme.Comparison" />
        <activity
            android:name=".ui.LocationDetailActivity"
            android:label="@string/title_activity_location_detail"
            android:parentActivityName=".ui.PokedexActivity"
            android:theme="@style/AppTheme.LocationDex">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.satsumasoftware.pokedex.ui.PokedexActivity" />
        </activity>
        <activity
            android:name=".ui.AdvancedFilterActivity"
            android:label="@string/title_activity_advanced_filter"
            android:parentActivityName=".ui.PokedexActivity"
            android:windowSoftInputMode="stateHidden">
            <!-- This hides the keyboard upon entering the activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.satsumasoftware.pokedex.ui.PokedexActivity" />
        </activity>
        <activity
            android:name=".ui.filter.FilterResultsActivity"
            android:label="@string/title_activity_filter_results"
            android:parentActivityName=".ui.PokedexActivity"
            android:theme="@style/AppTheme.Filter">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.satsumasoftware.pokedex.ui.PokedexActivity" />
        </activity>
        <activity
            android:name=".ui.filter.SearchResultsActivity"
            android:label="@string/title_activity_search_results"
            android:parentActivityName=".ui.PokedexActivity"
            android:theme="@style/AppTheme.Search">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.satsumasoftware.pokedex.ui.PokedexActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.PokedexActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.satsumasoftware.pokedex.ui.PokedexActivity" />
        </activity>
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.About" />
        <activity
            android:name=".ui.ChangelogActivity"
            android:label="@string/title_activity_changelog"
            android:theme="@style/AppTheme.Changelog" />
        <activity
            android:name=".ui.PkmnTypeDetailActivity"
            android:label="@string/title_activity_pkmn_type_detail"
            android:theme="@style/AppTheme.Dialog.PokemonDetail" />
        <activity
            android:name=".ui.AbilityDetailActivity"
            android:label="@string/title_activity_ability_detail"
            android:theme="@style/AppTheme.Dialog.AbilityDetail" />
        <activity
            android:name=".ui.MoveDetailActivity"
            android:label="@string/title_activity_moves_detail"
            android:theme="@style/AppTheme.Dialog.MoveDetail" />
        <activity
            android:name=".ui.NatureDetailActivity"
            android:label="@string/title_activity_nature_detail"
            android:theme="@style/AppTheme.Dialog.NatureDetail" />
        <activity
            android:name=".ui.PropertyDetailActivity"
            android:label="@string/title_activity_property_detail"
            android:theme="@style/AppTheme.Dialog.PropertyDetail" />
        <activity android:name=".ui.PkmnImageActivity" />
    </application>

</manifest>
